@font-face {
  font-family: 'BeatrixAntiqua-SemiBold';
  src: url('../fonts/3794FD_1_0.eot');
  src: url('../fonts/3794FD_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/3794FD_1_0.woff2') format('woff2'),url('../fonts/3794FD_1_0.woff') format('woff'),url('../fonts/3794FD_1_0.ttf') format('truetype');}
 
 
@font-face {
  font-family: 'SourceSerifPro-Semibold';
  src: url('../fonts/SourceSerifPro-Semibold.otf.woff2') format('woff2'),url('../fonts/SourceSerifPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSerifPro-Regular';
  src: url('../fonts/SourceSerifPro-Regular.otf.woff2') format('woff2'),url('../fonts/SourceSerifPro-Regular.ttf') format('truetype');
}