nav.site-nav {
  text-align: right;
  padding: 30px;
  
  font-size: $small-font-size;
  @include media-query($on-mobile) {
    font-size: $mobile-small-font-size;
  }
  color: $grey-color;
  a {
    color: $grey-color;
    text-decoration: underline;
  }
}