@charset "utf-8";



// Our variables
$base-font-family: 'SourceSerifPro', serif;
$heading-font-family: 'BeatrixAntiqua-SemiBold', 'verdana', sans-serif;

$base-font-size:   24px;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.25;

$mobile-font-size: 20px;
$mobile-small-font-size:  $mobile-font-size * 0.75;
$mobile-line-height: 1.3;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #9B9B9B;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-mobile:        600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "base",
        "layout",
        "to-top",
        "about",
        "site-nav"
;
